/* ---------- GLOBAL STYLE ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ---------- TOP CONTAINER ---------- */
.top-container {
    background: #ffffff;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.top-container h1 {
    font-size: 1.8rem;
    color: #ff0000;
    margin-bottom: 1rem;
}

.top-container h1 i {
    margin-right: 10px;
}

.top-container h4 {
    color: #ff0000e9;
    margin-bottom: 1rem;
    opacity: 50%;
}

/* ---------- INPUT + BUTTON ---------- */
.top-container input[type="text"] {
    width: 80%;
    padding: 10px 15px;
    border: none;
    border: 1px solid #ff0000;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    margin-right: 10px;
}

#convert-btn {
    margin-top: 30px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

#convert-btn:hover {
    background-color: #d40000;
    transform: scale(1.05);
}

/* ---------- BOTTOM CONTAINER ---------- */
.bottom-container {
    width: 90%;
    max-width: 500px;
    text-align: center;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.success {
    background: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

.success p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ff0000;
}

#download-btn {
    margin-top: 4rem;
    background: #25d366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

#download-btn:hover {
    background: #1ea756;
    transform: scale(1.05);
}

/* ---------- ANIMATION ---------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 480px) {
    .top-container h1 {
        font-size: 1.4rem;
    }

    .top-container input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    #convert-btn {
        width: 100%;
    }
}